<div class="bg-[#23b38c] h-screen w-screen flex items-center justify-center">
  <div class="card card-compact w-96 bg-white shadow-xl p-8">
    <h1 class="text-5xl font-bold mb-8">{{ title }}</h1>

    <!-- Number input -->
    <app-input
      type="number"
      label="Password Length"
      name="length"
      id="length"
      [value]="'' + length"
      (handleInput)="onSetLength($event)"
    ></app-input>

    <!-- Options -->
    <div class="mb-6">
      <app-input
        type="checkbox"
        label="Use Numbers"
        name="numbers"
        id="numbers"
        [isChecked]="hasNumbers"
        (handleCheck)="onCheck('number', $event)"
      ></app-input>

      <app-input
        type="checkbox"
        label="Use Symbols"
        name="symbols"
        id="symbol"
        [isChecked]="hasSymbols"
        (handleCheck)="onCheck('symbol', $event)"
      ></app-input>
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary w-full mb-2" (click)="onGeneratePassword()">
      Generate
    </button>

    <!-- Output -->
    <div *ngIf="password">
      <hr class="my-4" />
      <app-input
        type="string"
        label="Your password"
        name="output"
        id="output"
        [value]="password"
      ></app-input>
    </div>
  </div>
</div>
