<div class="bg-[#23b38c] h-screen w-screen flex items-center justify-center">
  <div class="card card-compact w-96 bg-white shadow-xl p-8">
    <h1 class="text-5xl font-bold mb-8">{{ title }}</h1>

    <!-- Number input -->
    <div class="form-control w-full max-w-xs mb-6">
      <label class="label">
        <span class="label-text">Password Length</span>
      </label>
      <input
        type="number"
        name="length"
        id="length"
        [value]="length"
        (input)="onSetLength($event)"
        class="input input-primary input-bordered w-full max-w-xs"
      />
    </div>

    <!-- Options -->
    <div class="mb-6">
      <div class="form-control">
        <label class="label cursor-pointer justify-start">
          <input
            type="checkbox"
            name="numbers"
            id="number"
            [checked]="hasNumbers"
            (change)="onCheck('number', $event)"
            class="checkbox checkbox-primary mr-2"
          />
          <span class="label-text">Use Numbers</span>
        </label>
      </div>

      <div class="form-control">
        <label class="label cursor-pointer justify-start">
          <input
            type="checkbox"
            name="symbols"
            id="symbol"
            [checked]="hasSymbols"
            (change)="onCheck('symbol', $event)"
            class="checkbox checkbox-primary mr-2"
          />
          <span class="label-text">Use Symbols</span>
        </label>
      </div>
    </div>

    <!-- Submit button -->
    <button class="btn btn-primary w-full mb-2" (click)="onGeneratePassword()">
      Generate
    </button>

    <!-- Output -->
    <div *ngIf="password">
      <hr class="my-4" />
      <div class="form-control w-full max-w-xs mb-6">
        <label class="label">
          <span class="label-text">Your password</span>
        </label>
        <input
          type="string"
          name="output"
          id="output"
          [value]="password"
          class="input input-primary input-bordered w-full max-w-xs"
        />
      </div>
    </div>
  </div>
</div>
